name: Build and Push Docker Image to AWS ECR

on:
  push:
    branches:
      - main
    tags:
      - '*'
  pull_request:
    branches:
      - main

jobs:
  build-and-push:
    name: Build and Push Docker Image
    runs-on: ubuntu-latest

    permissions:
      contents: read
      packages: write

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set short git commit SHA
        id: commit_sha
        run: |
          echo "commit_short_sha=$(git rev-parse --short ${{ github.sha }})" >> $GITHUB_OUTPUT

      - name: Log in to GitHub Container Registry (ghcr.io)
        run: echo "${{ secrets.GITHUB_TOKEN }}" | docker login ghcr.io -u ${{ github.actor }} --password-stdin

      - name: Set up QEMU
        uses: docker/setup-qemu-action@v3

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Set image tag
        id: image_tag
        run: |
          if [[ "${GITHUB_REF}" == refs/tags/* ]]; then
            echo "tag=${GITHUB_REF#refs/tags/}" >> $GITHUB_OUTPUT
          else
            echo "tag=latest" >> $GITHUB_OUTPUT
          fi

      - name: Build, tag, and push image to Amazon ECR
        if: github.event_name == 'push' && (startsWith(github.ref, 'refs/heads/main') || startsWith(github.ref, 'refs/tags/'))
        uses: docker/build-push-action@v6
        with:
          push: true
          context: .
          platforms: linux/arm64
          tags: ghcr.io/cssag/cloud-image-restic-exporter:${{ steps.image_tag.outputs.tag }}

      - name: Build image (no push)
        if: github.event_name == 'pull_request'
        uses: docker/build-push-action@v6
        with:
          push: false
          context: .
          platforms: linux/arm64
          tags: ghcr.io/cssag/cloud-image-restic-exporter:${{ steps.image_tag.outputs.tag }}